html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./tealbg.png');
  background-repeat: repeat;
  background-attachment: scroll;
}

.skillicon {
  height: 100px;
}
.myiconsection1, .myiconsection2 {
  display: flex;
  justify-content: center;
}
.myskills {
  padding-bottom: 30px;
}
.myiconsection2 {
  padding-bottom: 280px;
}
.myicons {
  font-size: 90px;
  border-radius: 50%;
  border: 30px;
  color: white;
}
.myname-header {
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: teal;
  font-size: 6em;
  background: rgba(100, 255, 255, 0.15);
  border-radius: 40%;
  padding: 10px 20px;
  margin: 5px;
}
.myskills {
  color: white;
}
.myicons:hover {
  background-color: rgba(100, 255, 255, 0.25);
  outline: 2px solid white;
}
#mainheader, .subheader, .sectionsubheader, .experienceinfo, .experiencestats, .educationsub, .proj, .projsub, .projinfo, .interestsheader, .aboutinfo {
  display: flex;
  justify-content: center;
}
.navitem {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.6em;
  padding: 10px 30px;
  border: 3px;
  border-color: rgba(0, 0, 0);
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navitem:hover {
  background: rgba(0, 0, 0, 0.2);
}
.projsub {
  font-size: 1.45em;
}
.proj {
  text-decoration: none;
  color: black;
}
.aboutinfo {
  font-size: 1.3em;
}
.proj:hover {
  /* font-weight: 800; */
  color: white;
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  width: 98.6%;
}
.stickyfix {
  padding-bottom: 20px;
}
.subheader {
  margin: 5px;
  font-size: 1.5em;
  font-weight: 800;
}
.sectionsubheader {
  font-size: 3.2em;
}

.sectionheader {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.5em;
}

.eduheader {
  padding-bottom: 20px;
}
.experienceinfo {
    font-size: 1.8em;
}

.proj {
  font-size: 2.3em;
  font-weight: 800;
}

.experiencestats, .aboutinfo {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding-bottom: 240px;
}

.edupadding, .projpadding {
  padding-bottom: 180px;
}
.subnavbar {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
#mattnavbar {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
